:root {
  --white: #FFFFFF;
  --snow: #F9F2F0;
  --border: rgba(97, 83, 204, 0.5);
  --highlight-bg: rgba(166, 0, 103, 0.15);
  --gray: rgba(29, 30, 44, 0.05);
  --equipment-header: #9CBAFC;
  --header: #F9F2F0;
  --black: #1D1E2C;
  --ro-item-shadow: #6153CC;
  --prompt-equipment: #9CBAFC;
  --link: #A60067;
  --header-drop: rgba(89, 89, 92, 0.20);
  --header-title: var(--ro-item-shadow);
  --status-name: var(--ro-item-shadow);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  background-color: var(--white);
  font-family: Kanit;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--white);
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 24px;
  color: var(--header-title);
  font-weight: bold;
  box-shadow: 0px 1px 1px var(--header-drop);
  padding: 0 48px;
}

.App-body {
  margin: 36px 0;
  background-color: var(--white);
  min-height: 100vh;
  font-size: 16px;
  color: var(--black);
  font-family: Kanit;
}

.App-link {
  color: var(--link);
}

.box-header {
  background-color: var(--equipment-header);
  border-radius: 3px 3px 0 0;
  border: 1px solid var(--gray);
  font-weight: bold;
  line-height: 22px;
  min-height: 26px;
}

.box-body {
  background-color: var(--white);
  border-radius: 0 0 3px 3px;
  border: 1px solid var(--border);
  padding: 0 10px;
  flex-grow: 1;
}

.box-overflow {
  overflow-y: auto;
  min-height: 0px;
  overflow-x: hidden;
}

.itembox-header {
  background-color: var(--gray);
  border-radius: 3px 3px 0 0;
  border: 1px solid var(--border);
  line-height: 22px;
}

.itembox-image {
  box-shadow: 0 4px 4px 0 var(--header-drop);
  background-color: var(--white);
  padding: 8px;
}

.itembox-body {
  overflow-y: auto;
  min-height: 0px;
  background-color: var(--white);
  border-radius: 0 0 3px 3px;
  border: 1px solid var(--border);
  padding: 0 10px;
  flex-grow: 1;
}

.itembox-card {
  background-color: var(--white);
  border-radius: 0 0 3px 3px;
  border: 1px solid var(--border);
  padding: 0 10px;
}

.title-input {
  height: 22px;
}

.search-input {
  background-color: var(--white);
  height: 24px;
  margin: 2px 0;
  padding: 0 8px;
}

.select-none {
  border: none;
  border-color: transparent !important;
  box-shadow: none !important;
  background-color: transparent !important;
  color: var(--black) !important;
}

.select-ed {
  border: 2px solid var(--link) !important;
  border-color: var(--link) !important;
  box-shadow: none !important;
  background-color: transparent !important;
  color: var(--black) !important;
}

.select-hover {
  background-color: var(--highlight-bg) !important;
}

button {
  background-color: transparent;
  border: none;
  color: var(--link);
  font-weight: bold;
  line-height: 22px;
  padding: 0 8px;
}

.status-name {
  line-height: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-weight: bold;
  color: var(--status-name);
}

.status-attr {
  font-size: 14px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  font-weight: bold;
  color: var(--status-name);
}

.status-attr-value {
  font-size: 12px;
  line-height: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  white-space: nowrap;
}

.equipment-col {
  border: 1px solid var(--gray);
  height: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.equipment-no {
  font-size: 16px;
  font-weight: bold;
  color: var(--prompt-equipment);
}

.equipment-ed {
  font-size: 14px;
  word-break: break-all;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 20px;
}

.storage-equiped {
  color: var(--border) !important;
}

.monster-status {
  color: var(--status-name);
}

.h-line {
  border-bottom: 1px solid var(--border);
  margin: 10px 0 10px 0 !important;
}

.final-dps {
  font-size: 20px;
}

.final-dps-value {
  color: var(--status-name);
}

.jc-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inline {
  display: inline;
}

.flex-grow-1 {
  flex-grow: 1;
}

.mh-0 {
  min-height: 0;
}

.tooltip {
  max-width: 50vw;
}

.tooltip-inner {
  white-space: break-spaces;
  word-break: normal;
  max-width: none !important;
  text-align: start !important;
}

.tooltip-content {
  white-space: pre-line;
}

p {
  word-break: break-all;
  white-space: pre-wrap;
  margin-bottom: 0.5rem !important;
}

*[contenteditable="true"] {
  color: var(--link);
}

input {
  color: var(--link);
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  height: 100%;
  /* resize: none; */
  outline: none;
  flex-grow: 1;
  min-width: 0;
  font-weight: 500;
  /* width: 100%; */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0;
  border-radius: 3px;
  /* box-sizing: border-box; */
  /* -webkit-box-sizing: border-box; */
  /* -moz-box-sizing: border-box; */
}

input:focus {
  border-bottom: 2px solid var(--link);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}